<div id="pagewrap">
	<div class="fullwidth">
		<ul>
			<%= form_tag password_resets_path, :method => :post do %>
			<li class="fullwidth">
				<h2>Wachtwoord vergeten</h2>
			</li>
			<li class="fullwidth">
				<p>Vul hier uw emailadres in waarmee uw account is geregistreerd.</p>
			</li>
			<li class="fullwidth">
		    <%= label_tag :email %><br />
		    <%= text_field_tag :email, params[:email], class: 'field_long' %>
			</li>
			<li class="fullwidth">
				<%= submit_tag "Reset Password", class: "button_long" %>
			</li>
			<% end %>
		</ul>
	</div>
</div>



