<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welkom bij Greendrivers, <%= @user.name %> <%= @user.middle_name %> <%= @user.last_name %></h1>
    <p>
      U heeft zich succesvol geregistreerd als <%= @user.user_name %>.<br/>
    </p>
    <p>
      Bedankt voor het aanmelden bij greendrivers
    </p>
  </body>
</html>