<div id="pagewrap">

	<div id="col_badges_left">
	<%= render 'badges' %>
	</div>


	<div id="col_badges_right">
		<div id="wrapper">
			<div id="sidebar_profile">
				<ul>
					<li class="center"><a href="#" id="button_all">Alle badges</a></li>
					<li class="center"><a href="#" id="button_general">Algemeen</a></li>
					<li class="center"><a href="#" id="button_green">Green</a></li>
					<li class="center"><a href="#" id="button_divers">D(r)ivers</a></li>
					<li class="center" style="background:none"><a href="#" id="button_special">Uitzonderlijk</a></li>	
					
				</ul>
			</div>

			<div id="sidebar_badge_info"></div>
		</div>
	</div>
	
</div> 





