<div id="pagewrap">

	<div class="col_badges_left">
	<%= render 'badges' %>
	</div>

	<div class="col_badges_right">
		<div id="wrapper">
			<div class="sidebar_badge_info">
				<ul>
					<li class="center"><a href="#" id="button_all">Alle badges</a></li>
					<li class="center"><a href="#" id="button_general">Algemeen</a></li>
					<li class="center"><a href="#" id="button_green">Green</a></li>
					<li class="center"><a href="#" id="button_divers">D(i)vers</a></li>
					<li class="center" style="background:none"><%= link_to 'Uitzonderlijk', root_url %></li>	
				</ul>
			</div>
		</div>
	</div>
</div> 





