<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<%= javascript_include_tag 'stickyMojo', :media => "all" %>

<script>
  $(document).ready(function(){
    $('#sidebar_profile').stickyMojo({footerID: '#footer', contentID: '#main'});
  });
</script>



<div id="pagewrap">

	<div class="col_badges_left">
	<%= render 'badges' %>
</div>

<div class="col_badges_right">
	<div id="wrapper">
		<div id="sidebar_profile">
			<li>Alle badges</li>
			<li>Algemeen</li>
			<li>Groen</li>
			<li>D(r)ivers</li>
			<li>Uitzonderlijk</li>
		</div>

	
		  <div id="main">
    
  </div>
 
 
 
</div>
		
</div></div> <div id="footer">
    
  </div>