<% provide(:title, "Alle gebruikers")%>
<h1>Alle gebruikers</h1>
<% if @users.any? %>

  <table>


  <% @users.each do |user| %>

  <tr>
    <td><%= link_to user.user_name, user %> |</td>
    <% if can? :update, User %>
        <td><%= link_to 'Bewerk', edit_user_path(user) %></td>
    <% end %>
    <% if can? :destroy, User %>
        <td><%= link_to 'Verwijder', user, method: :delete, data: { confirm: 'Weet u het zeker?' } %></td>
    <% end %>
    <td><%= user.role %></td>
  </tr>
  <% end %>
  </table>
<% else %>
  <p>No users.</p>
<% end %>
<br />