<h1>Alle gebruikers</h1>
<% if @users.any? %>
<<<<<<< HEAD

  <table>

  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @users.each do |user| %>
=======
  <table>


  <% @users.each do |user| %>
>>>>>>> 3c766cb26731970dc52332ed67d466685457288b

  <tr>
    <td><%= link_to user.user_name, user %> |</td>
    <td><%= link_to 'Bewerk', edit_user_path(user) %></td>
    <td><%= link_to 'Verwijder', user, method: :delete, data: { confirm: 'Weet u het zeker?' } %></td>
  </tr>
  <% end %>
  </table>
<% else %>
  <p>No users.</p>
<% end %>
<br />

