<%= render 'layouts/header' %>
<h1>Alle gebruikers</h1>
<% if @user.any? %>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.each do |user| %>
  <tr>
    <td><%= link_to user.user_name, user %> |</td>
    <td><%= link_to 'Bewerk', edit_user_path(user) %></td>
    <td><%= link_to 'Verwijder', user, method: :delete, data: { confirm: 'Weet u het zeker?' } %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>No users.</p>
<% end %>
<br />

