<!-- <div id="pagewrap">	

			<div class="wrapper grid3">				
				><article class="col">
					<div id="register">
					<div class="align-center">
					<%= form_for(@user) do |f| %>
					<div class="vertical-line">
					<h2>Registreren</h2>
					
					<%= render 'form' %>

				</div>
			</div>
					</article>
			
					
					
					</div>
			<%= link_to 'Terug', root_path %>
		</div>
		
	</div>
</div>
 -->