<p id="notice"><%= notice %></p>


<!--Used to show avatar  -->
<%= image_tag user.avatar_url(:thumb) if user.avatar? %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
