<h1>Pages#dashboard</h1>
<<<<<<< HEAD
<p>
	<%= link_to "Login", new_session_path %>
	<%= link_to "Register", new_user_path %>
</p>

=======
<p><%= link_to "Register", new_user_path %></p>

<p><%= link_to "My profile" %></p>
>>>>>>> d3bda316094f90926ec539ba2d079b653c274498
