<div id="pagewrap">
	<div class="wrapper fullwidth">
		<div id="container_faq">
			<h1>Veel gestelde vragen</h1>
			<p>Is iets niet duidelijk of wil je iets weten? Kijk eerst of het hier tussen staat en neem anders <%= link_to "contact", contact_url %> met ons op.</p>
			<ul id="accordion">
				<li>
					<h4>1. Wat is greendrivers?</h4>
						<p>Greendriver is een webapp waarin je o.a. badges en punten kunt halen, kunt competeren met collegas, vrienden en anderen. En je je eigen statistieken kunt bekijken en vergelijken.</p>
					<h4>2. Wat heb ik nodig om greendrivers te kunnen gebruiken?</h4>
						<p>Een compatibele auto(Opel Ampera) en een kastje om de data te verzamelen van Sycada.</p>
					<h4>3. Hoe kan ik de gegevens va mijn auto bekijken?</h4>
						<p>Door te registreren voor de applicatie en in te loggen met de gegevens van 360-ev.com kunnen wij de gegevens van de auto ophalen en weergeven in de applicatie.</p>
					<h4>4. Hoe kan ik zien hoeveel kilometers iemand anders heeft gereden?</h4>
						<p>Door een gebruiker te zoeken via de zoekbalk in de header kun je de gegevens van anderen bekijken.</p>
					<h4>5. Hoe kan ik mijn account verwijderen?</h4>	
						<p>Een account verwijderen kan op dit moment alleen door een mail te sturen. <small><%= link_to 'Ga naar contact', contact_path %></small>.</p>
					<h4>6. Hoeveel badges zijn er?</h4>
						<p>Op dit moment zijn er 5 actieve badges.</p>
					<h4>7. Hoe kan ik een badge halen?</h4>
						<p>Door te voldoen aan de kriteria voor de badge kan je deze behalen.</p>
					<h4>8. Waar kan ik zien welke badges ik al gehaald heb?</h4>
					<p>Op de pagina 'Badges' zijn alle behaalde en nog te behalen badges te zien.</p>
					<h4>9. Waar kan ik het verschil tussen elektriscche en fossiele kilometers zien?</h4>
					<p>Op het dashboard wordt in een diagram weergegeven hoeveel elektrische en hoeveel fossiele kilometers de auto heeft gereden.</p>
				</li>
			</ul>
		</div>
	</div>
</div>