<div id="pagewrap">
	
	<div class="fullwidth">
		<%= link_to image_tag("logo_fullcolour.svg"), root_path, :class => 'logo' %>
	</div>
	
	<div class="col_home_side">
		<div id="block_1" data-explain_block="explain_1"></div>
		<div id="block_2" data-explain_block="explain_2"></div>
		<div id="block_3" data-explain_block="explain_3"></div>
		<div id="block_4" data-explain_block="explain_4"></div>
	</div>
	
	<div class="col_home_mid">
		<div id="container_explains">
			<div id="explain_1">1111111111111111</div>
			<div id="explain_2">22222222222222</div>
			<div id="explain_3">33333333333333</div>
			<div id="explain_4">244444444444444</div>
			<div id="explain_5">55555555555555</div>
			<div id="explain_6">666666666666666</div>
			<div id="explain_7">777777777777777</div>
			<div id="explain_8">888888888888888</div>
		</div>
		
		<iframe src="http://www.youtube.com/embed/rOuMUjTdK2s" allowfullscreen></iframe>		
		<br>
		<br>
		<div id="container_button">
			<%= link_to "Inloggen", new_session_path, :class => "button_homepage" %>
			<%= link_to "Registreren", new_session_path, :class => "button_homepage" %>
		</div>
	</div>
		
	<div class="col_home_side">
		<div id="block_5" data-explain_block="explain_5"></div>
		<div id="block_6" data-explain_block="explain_6"></div>
		<div id="block_7" data-explain_block="explain_7"></div>
		<div id="block_8" data-explain_block="explain_8"></div>
	</div>
			
</div>
