<div id="pagewrap">
	
	<div class="fullwidth">
		<%= link_to image_tag("logo_fullcolour.svg"), root_path, :class => 'logo' %>
	</div>
	
	<div class="col_home_side">
		<div id="block_1" data-explain_block="explain_1"></div>
		<div id="block_2" data-explain_block="explain_2"></div>
		<div id="block_3" data-explain_block="explain_3"></div>
		<div id="block_4" data-explain_block="explain_4"></div>
	</div>
	
	<div class="col_home_mid">
		<div id="container_explains">
			<div id="explain_0"><h1><strong class="green">"</strong>Welkom bij de wedstrijd <br /> voor meer <strong class="green">groene</strong> kilometers met uw <br />Plug In Hybride Voertuig<strong class="green">"</strong>
</h1></div>
			<div id="explain_1"><h1><strong class="green">"</strong>Opslag van <strong class="green">elektriciteit</strong> is nog nooit zo gemakkelijk geweest<strong class="green">"</strong></h1></div>	
			<div id="explain_2"><h1><strong class="green">"</strong>Elektrisch rijden is stil, <br> <strong class="green">speel mee</strong> voor meer vogelgeluiden <br> in jouw leefomgeving<strong class="green">"</strong></h1></div>
			<div id="explain_3"><h1><strong class="green">"</strong>Balans in de <strong class="green">natuur</strong>, <br> evenveel CO2 in de atmosfeer als eruit<strong class="green">"</strong></h1></div>
			<div id="explain_4"><h1><strong class="green">"</strong>Wonen in gezonde lucht, <strong class="green">bouw mee</strong> aan een schone toekomst<strong class="green">"</strong></h1></div>
			<div id="explain_5"><h1><strong class="green">"</strong>Brandstof is zo verschrikkelijk fossiel, <br> je zou er mee op <strong class="green">moeten</strong> houden<strong class="green">"</strong></h1></div>
			<div id="explain_6"><h1><strong class="green">"</strong>Maak een <strong class="green">wedstrijd</strong> van je idealen en ga voor jouw topprestatie<strong class="green">"</strong></h1></div>
			<div id="explain_7"><h1><strong class="green">"</strong>De schoonste <strong class="green">energie</strong> zit in je hoofd, gebruik die dan ook en denk na<strong class="green">"</strong></h1></div>
			<div id="explain_8"><h1><strong class="green">"</strong>Overal gemakkelijk afrekenen <br> met het <strong class="green">GreenFlux</strong> laadpasje<strong class="green">"</strong></h1></div>		
		</div>
		
		
		<iframe src="http://www.youtube.com/embed/5Z7LYd7i2b4" allowfullscreen></iframe>		
		<br>
		<br>
		<div id="container_button">
			<%= link_to "Inloggen", new_session_path, :class => "button_homepage" %>
			<%= link_to "Registreren", new_session_path, :class => "button_homepage" %>
		</div>
	</div>
		
	<div class="col_home_side">
		<div id="block_5" data-explain_block="explain_5"></div>
		<div id="block_6" data-explain_block="explain_6"></div>
		<div id="block_7" data-explain_block="explain_7"></div>
		<div id="block_8" data-explain_block="explain_8"></div>
	</div>