<div id="pagewrap">
	
	<div class="col_home_side">
			<div id="block"></div>
			<div id="block"></div>
			<div id="block"></div>
			<div id="block"></div>
	</div>
	
	<div class="col_home_mid">
		<h2> Waarom Greendrivers </h2>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi risus nibh, tristique eget fringilla ut, convallis porta tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis facilisis suscipit sem, vitae venenatis enim aliquam in. In eget elit leo. Sed quis nisi enim, et euismod turpis. Donec rutrum elit sed urna lobortis sit amet facilisis nibh eleifend. Donec sapien arcu, convallis nec accumsan non, interdum quis sem. In pulvinar consequat tristique. Pellentesque luctus lectus non leo fermentum a accumsan massa fermentum. </p>
		<iframe src="http://www.youtube.com/embed/rOuMUjTdK2s" allowfullscreen></iframe>		
		<br>
		<br>
		<div id="container_button">
			<%= link_to "Inloggen", new_session_path, :class => "button" %>&emsp;&emsp;&emsp;&emsp;&emsp;
			<%= link_to "Registreren", new_session_path, :class => "button" %>
		</div>
	</div>
		
	<div class="col_home_side">
		<div id="block"></div>
		<div id="block"></div>
		<div id="block"></div>
		<div id="block"></div>
	</div>
			
</div>