/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#pagewrap {
<<<<<<< HEAD
width: 980px;
max-width: 96%;
margin: 0 auto;
=======
	width: 980px;
	max-width: 100%;
	margin: 0 auto;
>>>>>>> 2a515d684687578d80a1e0f6304315596a37c0cc
}	
.wrapper {
overflow: hidden;
}

/************************************************************************************
COLUMN
*************************************************************************************/
.col {
<<<<<<< HEAD

float: left;
margin-left: 3.2%;
margin-bottom: 30px;

=======
	
	float: left;
	margin-left: 3.2%;
	margin-bottom: 30px;
>>>>>>> 2a515d684687578d80a1e0f6304315596a37c0cc
}

.fullwidth .col {
float: left;
width: 100%;
}
/* grid4 col */
.grid4 .col {
width: 22.6%;
}
/* grid3 col */
.grid3 .col {
width: 31.2%;
}
/* grid2 col */
.grid2 .col {
width: 48.4%;
}
/* clear col */
.grid4 .col:nth-of-type(4n+1),
.grid3 .col:nth-of-type(3n+1),
.grid2 .col:nth-of-type(2n+1) {
margin-left: 0;
clear: left;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* reset cols to 3-column */
@media screen and (max-width: 740px) {
/* grid4 */
.grid4 .col {
width: 31.2%;
}
.grid4 .col:nth-of-type(4n+1) {
margin-left: 3.2%;
clear: none;
}
.grid4 .col:nth-of-type(3n+1) {
margin-left: 0;
clear: left;
}
}

/* reset cols to 2-column */
@media screen and (max-width: 600px) {
/* grid4 */
.grid4 .col {
width: 48.4%;
}
.grid4 .col:nth-of-type(3n+1) {
margin-left: 3.2%;
clear: none;
}
.grid4 .col:nth-of-type(2n+1) {
margin-left: 0;
clear: left;
}

/* grid3 */
.grid3 .col {
width: 48.4%;
}
.grid3 .col:nth-of-type(3n+1) {
margin-left: 3.2%;
clear: none;
}
.grid3 .col:nth-of-type(2n+1) {
margin-left: 0;
clear: left;
}
}

/* reset cols to fullwidth */
@media screen and (max-width: 400px) {
<<<<<<< HEAD
/* grid4 */
.col {
width: auto !important;
margin-left: 0 !important;
clear: none !important;
}

#register {
display: none;
}

#link-register {
visibility: visible !important;
}

#vertical-line {
display: none;
}

ul {
li {
width: 80% !important;
}
=======
	/* grid4 */
	.col {
		width: auto !important;
		margin-left: 0 !important;
		clear: none !important;
	}
	
	#register {
		display: none;
	}
	
	#link-register {
		visibility: visible !important;
	}
	
	#vertical-line {
		border: none;
	}
	
	#vertical-line-right {
		visibility: hidden;
	}
	
	.icon_menu {
		visibility: visible !important;
	}
	
	ul {
		li {
			width: 80% !important;
		}
	}
>>>>>>> 2a515d684687578d80a1e0f6304315596a37c0cc
}
}
