/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#pagewrap {
width: 980px;
max-width: 96%;
margin: 0 auto;
}	

.wrapper {
overflow: hidden;
}

/************************************************************************************
COLUMN
*************************************************************************************/
.col {
float: left;
margin-left: 3.20%;
margin-bottom: 30px;
}

.fullwidth .col {
float: left;
width: 100%;
}

.col_home_side {
	float: left;
	width: 13%;
	margin-top: 3.25%;
		
}

.col_home_mid {
	float:left;
	width: 67.5%;
	margin: 3.25% 3.25%;
}

#col_dashboard_left {
	float:left;
	width: 64.5%;
	margin: 3.2% 3.2% 0 0;
}

#col_dashboard_right {
	float:left;
	width:32.3%;
	margin-top:3.2%;
}

.col_badges_left{
	float:left;
	width: 72.6%;
	margin-top: 3.2%;
}

.col_badges_right{
	float:left;
	width:24.2%;
	margin-left: 2.2%;
	margin-top: 3.2%;
}

/* grid4 col */
.grid4 .col {
width: 22.6%;
}
/* grid3 col */
.grid3 .col {
width: 31.2%;
}
/* grid2 col */
.grid2 .col {
width: 48.4%;
}
/* clear col */
.grid4 .col:nth-of-type(4n+1),
.grid3 .col:nth-of-type(3n+1),
.grid2 .col:nth-of-type(2n+1) {
margin-left: 0;
clear: left;
}