
/************************************************************************************
SUPER LELIJKE CSS
*************************************************************************************/
	#chart_div {
		right:115%;
		top:350px;
	}
	
	#chart_div2 {
		right:60%;
		top:100px;
		rect {
			stroke-width:0;
		}
	}
	
	#chart_div3 {
		top:-150px;
		left:15%;
	}
	
	#chart_div4 {
		top:-300px;
		left:-60%;
	}
	
	#chart_div, #chart_div2, #chart_div3 {
		div g path{
		stroke-width:0;
	  }
	}
	
	#badges {
		top:-300px;
		left:-90%;
		position:relative;
		width:940px;
	}
	
	.badge {
		float:left;
		margin-right:10px;
	}

	
/*************************************************************************************/

	#chart_div:after {
		background-image:url('subtlenet2.png');
		    border-radius: 50%;
		    -moz-border-radius: 50%;
		    content: '';
		    display: block;
		    left: 142px; 
		    padding: 60px;
		    position: absolute;
		    top: 92px;
		    z-index: 2; 
	}


@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

$green: #48b237;
$white: #fff;
$grey: #313131;
$darkgreen: #339933;
$lightgrey: #eeeeee;

#006837 fossile
#39b54a electric 


/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
margin: 0;
padding: 0;
}

/* General CSS */

body {
background: url('/images/subtlenet2.png') repeat;	
z-index: -3;
margin-top: -10px;
right: 0;
overflow-x: hidden;
font-family: Ubuntu;
}

.align-center {
width: 96%;
margin-left: auto !important;
margin-right: auto !important;
}

a, p, strong, small, h3 {
	color: $grey;
	text-decoration: none;
}

small {
	color: $grey;
	font-size: small;
	a {
		color: $green;}
}

.button {
	width: 220px !important;
	height: 25px;
	padding: 4px 75px;
	background-color: $green;
	border-radius: 3px;
	color: $white;
	border: 1px solid $darkgreen;
    -moz-box-shadow:    inset 1px 2px 2px rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 1px 2px 2px rgba(255,255,255,0.4);
    box-shadow:         inset 1px 2px 2px rgba(255,255,255,0.4);
}

/* Header */
.header {
	background: url('/images/groen_patroon.png') repeat;
	margin: 0 -10px !important;
	padding: 5px !important;
	height: 40px;
	    -moz-box-shadow: inset 0 10px 10px rgba(255,255,255,0.4);
	    -webkit-box-shadow: inset 0 10px 10px rgba(255,255,255,0.4);
	    box-shadow: inset 0 10px 10px rgba(255,255,255,0.4);
	box-shadow: 0 1px 5px $grey;
	h2 {
	color: $white;
	text-align: center;
	}
	a {
	background: none;
	}
}

/************************************************************************************
REGISTREREN & INLOGGEN
*************************************************************************************/

.logo {
width: 220px;
height: 150px;
background: $grey;
border-radius: 7px;
}

#link-register {
visibility: hidden;
margin-top: 10px;
padding: 20px 0;
}


.avatar_pre {
	width: 150px;
	height: 150px;
	margin-top: 50px;
	background: $grey;
	border-radius: 7px;
}

#register_form {
	overflow:hidden;
}

/************************************************************************************
PROFIELEN
*************************************************************************************/

.avatar {
	width: 220px;
	height: 220px;
	border-radius: 7px;
	border: 1px solid $darkgreen;
}

.align-left {
	text-align: left !important;
}

/************************************************************************************
ICONS
*************************************************************************************/

.icon-left {
	float: left;
	margin-top: 12px;
}

.icon-right {
	float: right !important;
	margin-top: 12px
	
}

.icon-menu {
	visibility: hidden;
}

/************************************************************************************
HEADER
*************************************************************************************/

.field {
width: 220px;
height: 20px;
border-radius: 3px;
border: 1px solid $darkgreen;
left: auto;
margin: auto;
}

.avatar_pre {
width: 150px;
height: 150px;
margin-top: 50px;
background: $grey;
border-radius: 7px;
}

#vertical-line {
border-left: 1px solid green;
padding-left: 55px;
	width: 215px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid $darkgreen;
	left: auto;
	margin: auto;

}

ul { 
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		width: 225px;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
			font-size:13px;
		a {
		
			text-decoration: none;
			color: $grey;
		}
		a:hover {
			color: $green;
		}
	}
}

li.indent {
	text-indent: 15px;

}

.col {
h2 {
margin-top: 40px;}
}

.button a {	
color:white;
text-decoration:none;
font-size:11px;
font-family:"Ubuntu";
}	

#vertical-line-right {
	border-right: 1px solid $grey;
	margin-right: 50px;
	ul li {
				text-indent: 0 !important;
				text-align: center !important;
		}
}


