<div class="span14">
	<div class="well">
		<div class="search_results_page">
		<% if params[:search].empty? %>
		<% provide(:title, "Er is geen zoekopdracht opgegeven.") %> 
			  <h1>Er is geen zoekopdracht opgegeven.</h1>
			</div>
		<% else  %>
			<% provide(:title, "Zoekresultaten voor " + params[:search]) %> 
			<h1>Zoekresultaten voor "<%= params[:search] %>"</h1>
			<% if @users.any? %>
				<%= render @users %>
			<% end %>
		<% end %>
		<div>
	</div>
</div>