<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
      	<%= pluralize(@user.errors.count, "error") %> zorgen ervoor dat deze gebruiker niet opgeslagen kan worden:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li>- <%= msg %></li>
      <% end %>
 	  </ul>
    </div>
<% end %>