<% if current_user %>
	<td><p><%= link_to 'Alle gebruikers', users_path %>
	<%= link_to 'Mijn profiel', user_path(current_user) %>
	<%= link_to 'Uitloggen', logout_path, :method => :delete %></p></td>
	<hr />	
<% end %>